<dashboard-header></dashboard-header>
<!-- <div ng-include="'view/partials/dashboard/add-category.html'"></div> -->

<div class="container">
    <div class="row">
        <div>
            <h5 class="left">Update Task Type</h5>
        </div>

        <div class="container">
            <form action="" >
                <br>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title" type="text" class="validate" value="{{task_type.title}}">
                        <label for="name">Task title</label>
                    </div>
                </div>

                <div class="input-field col s12 m6">
                    <input type="hidden" name="" id="category" value="{{category | stringifyJSON}}">

                    <select ng-model="category" ng-options="category.name for category in categories">
                    <!-- <select id="category" ng-model="category" ng-change="getTitles()"> -->

                    <option value="" disabled selected>Select Category or leave empty if no changes required</option>
                    <!-- <option ng-repeat="category in categories" value="{{category}}">{{category.name}}</option> -->
                    </select>
                    
                    <label>Select Task Category</label>
                </div>

                <div class="row center-align">
                    <a class="btn waves-effect waves-light" ng-click="updateTaskType()">Submit
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </form>
        
        </div>


    </div>
</div>

<dashboard-footer></dashboard-footer>