<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style>
    body{
        background-color: rgba(153, 153, 152, 0.041);
    }
  </style>
</head>
<body>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="cyan-text">Navbar Link</a></li>
        <li><a href="#" class="cyan-text" onmouseover="this.class='cyan-text lighten-5'">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="container">
  <!-- <div style="size: 80%; margin: 0 auto"> -->

    <div class="section">
      <div class="row">
        <!--   Job listing Section starts   -->
        <div class="col s12 m8 l9">
            <div class="card white hoverable vertical-align">
                <div class="card-content black-text">
                    <div class="row">
                        <div class="col s12 m6 l8">
                            <div class="row">
                                <div class="col l8 m12 s12">
                                    <b>Please note that this is an IG job</b>
                                </div>
                                <div class="col l1 m6 s6">
                                    <span class="cyan-text">
                                        <i class="material-icons">person</i>
                                    </span>
                                </div>
                                <div class="col l3 m6 s6 right-align">
                                    <span class="cyan-text">
                                        <i> 0 </i> / <i>200</i>
                                    </span>
                                </div>
                            </div>


                            <!-- <p class="left">
                                <b>Please note that this is an IG job</b>
                            </p> 
                            <span style="margin-left: 10px;" class="cyan-text left">
                                <i class="material-icons">person</i>
                            </span>
                            <span class="cyan-text left">
                                <i> 0 </i> / <i>200</i>
                            </span> -->

                        </div>
                        
                        <div class="col s12 m6 l4 show-on-large-only">
                            <p class="cyan-text">
                                <span class="left">
                                    <i class="material-icons circle">monetization_on</i>
                                </span>
                                <span class="left">
                                    <i >&#x20a6;</i>  <i>100</i> 
                                </span>
                            </p> 

                            <button class="btn right waves-effect black show-on-large-only" type="submit" name="action">View</button>  
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   Job listing Section ends   -->

        <!-- sidebar dashboard starts -->
        <div class="col s12 m4 l3">
            <div class="card white hoverable">
                <div class="card-content black-text">
                    <div class="section">
                        <h5><i class="material-icons small">dashboard</i> DASHBOARD</h5>
                    </div>
                    <div class="divider"></div>

                    <div class="section">
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="material-icons circle orange">monetization_on</i>
                              <p>
                                Earnings <br>
                                <i class="cyan-text">&#x20a6;</i>  <i class="cyan-text">100</i> 
                              </p>
                              <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                            </li>
                            <li class="collection-item avatar">
                              <i class="material-icons circle green">account_balance_wallet</i>
                                <p>
                                    Balance <br>
                                    <i class="cyan-text">&#x20a6;</i>  <i class="cyan-text">100</i> 
                                </p>
                              <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                            </li>
                            <li class="collection-item avatar">
                              <i class="material-icons circle light-blue">history</i>
                              <p>Tasks History</p>
                              <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                            </li>
                            <li class="collection-item avatar">
                              <i class="material-icons circle light-blue">history</i>
                              <p>Payout History</p>
                              <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar dashboard ends -->
      </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
