
                

            <div>
              <input ng-model="taskTitle" id="search" class="form-control" placeholder="Filter text">
              <table class="responsive-table">
                <thead>
                  <tr>
                      <th>Title</th>
                      <th>Date Posted</th>
                      <th>Reward</th>
                      <th>Required</th>
                      <th>Done</th>
                      <th>Action</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr dir-paginate="task in tasks | filter : taskTitle | itemsPerPage: pageSize"
                  pagination-id="flights">
                    <td>{{task.title}}</td>
                    <td>{{task.date_posted}}</td>
                    <td>{{task.reward}}</td>
                    <td>{{task.required}}</td>
                    <td>{{task.done}}</td>
                    <td>
                        <a href="" class="orange-text"><i class="material-icons">edit</i></a>
                        <a href="" class="red-text" ng-click="deleteTask(task.id)"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>


                </tbody>
              </table>
              
              <dir-pagination-controls boundary-links="true" on-page-change="changeHandler(newPageNumber)" pagination-id="flights"></dir-pagination-controls>
             </div>