</div>
<!--   Job listing Section ends   -->

<!-- sidebar dashboard starts -->
<div class="col s12 m4 l3">
    <div class="card white hoverable">
        <div class="card-content black-text">
            <div class="section">
                <h5><i class="material-icons small">dashboard</i> DASHBOARD</h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle orange">monetization_on</i>
                    <p>
                        Earnings <br>
                        <i class="cyan-text">&#x20a6;</i>  <i class="cyan-text">100</i> 
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                    </li>
                    <li class="collection-item avatar">
                    <i class="material-icons circle green">account_balance_wallet</i>
                        <p>
                            Balance <br>
                            <i class="cyan-text">&#x20a6;</i>  <i class="cyan-text">100</i> 
                        </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                    </li>
                    <li class="collection-item avatar">
                    <i class="material-icons circle light-blue">history</i>
                    <p>Tasks History</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                    </li>
                    <li class="collection-item avatar">
                    <i class="material-icons circle light-blue">history</i>
                    <p>Payout History</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- sidebar dashboard ends -->
</div>
</div>
<br><br>
</div>

<footer class="page-footer black">
<div class="container">
<div class="row">
<div class="col l6 s12">
<h5 class="white-text">Company Bio</h5>
<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


</div>
<div class="col l3 s12">
<h5 class="white-text">Settings</h5>
<ul>
    <li><a class="white-text" href="#!">Link 1</a></li>
    <li><a class="white-text" href="#!">Link 2</a></li>
    <li><a class="white-text" href="#!">Link 3</a></li>
    <li><a class="white-text" href="#!">Link 4</a></li>
</ul>
</div>
<div class="col l3 s12">
<h5 class="white-text">Connect</h5>
<ul>
    <li><a class="white-text" href="#!">Link 1</a></li>
    <li><a class="white-text" href="#!">Link 2</a></li>
    <li><a class="white-text" href="#!">Link 3</a></li>
    <li><a class="white-text" href="#!">Link 4</a></li>
</ul>
</div>
</div>
</div>
<div class="footer-copyright">
<div class="container">
Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
</div>
</div>
</footer>
</div>