<!-- sidebar dashboard starts -->
<div class="col s12 m4 l3 hide-on-small-only">
    <div class="card white hoverable">
        <div class="card-content black-text">
            <div class="section">
                <h5><a ui-sref="dashboard" class="black-text"> <i class="material-icons small">dashboard</i> DASHBOARD</a></h5>
            </div>
            <div class="divider"></div>

            <div class="section">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle orange">monetization_on</i>
                        <p>
                            Earnings <br>
                            <i class="cyan-text"><i class="cyan-text">{{pending}}</i> 
                        </p>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">send</i></a> -->
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">account_balance_wallet</i>
                        <p>
                            <span class="black-text">Balance</span><br>
                            <i class="cyan-text"><i class="cyan-text">{{balance}}</i> 
                        </p>
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">send</i></a> -->
                    </li>
                    <!-- <li class="collection-item avatar">
                    <i class="material-icons circle light-blue">history</i>
                    <p>Tasks History</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                    </li>
                    <li class="collection-item avatar">
                    <i class="material-icons circle light-blue">history</i>
                    <p>Payout History</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- sidebar dashboard ends -->
