<div class="card hoverable" style="border-radius: 10px;">
    <div class="row remove-row-margin">
        <div class="col s12 m4 center-align" style="height: 85vh; background: linear-gradient(to bottom, #888787, #000000); border-radius: 10px 0 0 10px ;">
            <div class="to-pay white-text" style="margin-top: 100%">
                <small>To Pay</small>

                <h4 class=""><i >&#x20a6;</i>{{total_payable}}</h4>
            </div>

            <div class="cancel-payment white-text" style="margin: 100% 0 0 10%;">
                <div class="left" style="transform: rotate(180deg) !important">
                    <i class="material-icons" style="transform: rotate(180)">play_arrow</i>
                </div>
                <div class="left pt-6">
                    <span class="modal-close">Cancel your Payment</span>
                </div>
                
            </div>

        </div>
        <div class="col s12 m8 white" style="height: 60vh; border-radius: 0 10px 10px 0;">
            <div class="payment-heading black-text">
                <h3>Payments</h3>
            </div>
            <div class="payment-instruction">
                <h6>Fill in card details to begin </h6>
            </div>

            <div class="card-form-body">
                <div class="card hoverable grey lighten-3" style="background-image: url('assets/img/credit-bg.png'); background-repeat: no-repeat; background-position: center; background-size: cover">
                    <div class="container" style="padding: 20px 0">
                        <div class="row">
                            <div class="card-top-design">
                                <div class="left">
                                    <i class="material-icons">credit_card</i>
                                </div>
                                <div class="right"><i><b>VISA</b></i></div>
                            </div>
                        </div>

                        <div class="row">
                            <form action="">
                                <div class="row input-group" style="margin-left: 20px;">
                                    <input type="text" tabindex="1" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="2" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="3" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="4" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    -
                                    <input type="text" tabindex="5" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="6" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="7" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="8" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">

                                    -
                                    <input type="text" tabindex="9" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="10" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="11" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="12" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">

                                    -
                                    <input type="text" tabindex="13" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="14" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="15" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                    <input type="text" tabindex="16" name="card-no" id="card-no-1" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                </div>

                                <div class="row">
                                    <div class="col s6 card-owner-name">
                                        <div >
                                            <small>Card Owner</small> <br>
                                            <input type="text" tabindex="17" name="firstname" id="firstname" placeholder="first name" style="width: 100px">
                                            <input type="text" tabindex="18" name="lastname" id="lastname" placeholder="last name" style="width: 100px">
                                        </div>
                                        
                                    </div>

                                    <div class="col s6">
                                        <div class="expiry" style="margin-left: 30px">
                                            <small>Expires</small> <br>
                                            <div class="input-group">
                                                <input type="text" tabindex="19" name="card-no" id="card-no-1" placeholder="M" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                                <input type="text" tabindex="20" name="card-no" id="card-no-1" placeholder="M" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                                <i style="font-size: 2rem">/</i>
                                                <input type="text" tabindex="21" name="card-no" id="card-no-1" placeholder="Y" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                                <input type="text" tabindex="22" name="card-no" id="card-no-1" placeholder="Y" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                                <input type="text" tabindex="23" name="card-no" id="card-no-1" placeholder="Y" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                                <input type="text" tabindex="24" name="card-no" id="card-no-1" placeholder="Y" style="width: 16px; height: 30px; border: grey solid 1px; border-radius: 5px; text-align: center; box-shadow: gray -1px 1px 2px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        
                    </div>
                </div>
            </div>

            <div class="submit-btn center-align">
                <a class="waves-effect waves-light btn" style="width: 80%; margin-top: 50px">Submit</a>
            </div>
        </div>
    </div>
</div>

