<div class="container">
    <div class="card hoverable">
        <div class="container">
            <div class="row">
                <div class="row center-align" style="padding-top: 30px">
                    <div class="pt-10">
                        <i class="material-icons large circle white-text black" style="padding: 20px;">account_balance</i>
                    </div>
                </div>
                <div class="row">
                    <h5>My Wallet</h5> <br>
                    
                    <div class="row">
                        <div class="col l6 s12">
                            <ul>
                                <li>
                                    <i class="material-icons left">account_balance_wallet</i>
                                    <span>Earning balance</span>:
                                    <span class="cyan-text">{{balance}}</span>

                                    <span>| Pending Earning</span>:
                                    <span class="cyan-text">{{pending}}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col l6 s12">
                            <a class="waves-effect waves-light btn">Withdraw</a> 
                            <a class="waves-effect waves-light btn">Fund Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
